.square {
  width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #222222;
    cursor: pointer;
    outline: none;
    font-size: 60px;
}
.square:hover{
    background-color:#f0f0f0 ;
    transition: 0.5s ;
}
